extends ../layout

block content
  .wide-row.section-nav
    .btn-group.btn-group-sm
      button.btn.btn-default(type='button') Инфо1
      button.btn.btn-default(type='button') Инфо2
      button.btn.btn-default(type='button') Инфо3
  .sections
    .features
      .wide-row.made-easy.intro
        .container
          .row
            .col-md-6
              h2 Описание 2
              p
                | Engineered by the same team that develops MongoDB, you can rest assured that you always have a reliable backup.
            .col-md-6
              h2 Описание 1
              p
                | Engineered by the same team that develops MongoDB, you can rest assured that you always have a reliable backup.