extends ../layout

block content
  .login-wrapper
    form.login-form(role='form', action='/login', method='POST')
      .login-group
        label.login-label(for='login') Login
        .login-input
          input#login.form-control(name='login', type='text', placeholder='Login')
      .login-group
        label.login-label(for='password') Password
        .login-input
          input#password.form-control(name='password', type='password', placeholder='Password')
      .login-group
        .login-input-offset
          .checkbox
            label
              input(name='remember', type='checkbox')
              | Remember me
      .login-group
        .login-input-offset
          button.login-submit-button(type='submit') Войти
      if error
        h3= error