doctype html
html(lang='ru')
  head
    include includes/head
  body
    .main-page
      include includes/top-menu
      if landing
        include includes/l-content
      else
        include includes/content
      include includes/footer