extends ./layout

block content
  if posts && posts.length
    .posts
      each post in posts
        .post
          h1
            a(href='/posts/post/' + 'chpu-string_' + post['_id'] + '/')= post.title
          .content!= post.html
    if pages > 1
      .page-paginator
        ul.paginator
          - for (var x = 1; x < pages+1; x++)
            if page === x
              li.active: a= x
            else
              li: a(href='/posts/page#{x}/')= x

  else
    h3 Нет статей