extends ./layout

block content
  if posts && posts.length
    .posts
      each post in posts
        .post
          h1
            a(href='/posts/post/' + 'chpu-string_' + post['_id'] + '/')= post.title
          .content!= post.html
    if count > 5
      - pages = Math.ceil(count % 5)
      .page-paginator
        ul.paginator
          li.active: a 1
          - for (var x = 1; x < pages; x++)
            li: a(href='/posts/page#{x+1}/')= x+1

  else
    h3 Нет статей