extends ../layout

block content
  h2 Список статей
  if posts && posts.length
    table.table-bordered.table-condensed
      tr
        th #
        th Title
        th HTML
        th Active
        th Date
      each post, index in posts
        tr
          td: a(href='/admin/posts/' + post['_id'])= '# ' + (index + 1)
          td= post.title
          td= post.html.substr(0, 80) + '...'
          td= post.active
          td= post.date
  else
    h2 Нет статей