extends ../layout

block content
  - action = post ? post.id : 'new'
  - method = post ? '?_method=PUT' : ''
  - post = post || {}

  form(method='POST', action='/admin/posts/' + action + method)
    p title
    p
      input(name='title', value=post.title)
    p date
    p= post.date
    p html
    p
      input(name='html', value=post.html)
    p active
    p
      input(type='checkbox', name='active', checked=post.active)
    input(type='submit')

  if action !== 'new'
    p
    p
    form(method='POST', action='/admin/posts/' + action + '?_method=DELETE')
      input(type='submit', value='Удалить')