extends ../layout

block content
  - action = post ? post.id : 'new'
  - method = post ? '?_method=PUT' : ''
  - post = post || {}

  if action !== 'new'
    .row
      form.delete-post(method='POST', action='/admin/posts/' + action + '?_method=DELETE')
        button.btn.btn-sm.btn-danger(type='submit') Удалить
  .row
    form(role='form', method='POST', action='/admin/posts/' + action + method)
      .form-group
        label(for='title') Title
        input#title.form-control(name='title', type='text')
      .form-group
        label(for='content') HTML
        input#content.form-control(name='html', type='text')
      .checkbox
        label
          input(name='active', type='checkbox', checked=post.active)
          | Показывать статью
      button.btn.btn-success(type='submit')= (action === 'new') ? 'Создать' : 'Сохранить'