nav.navbar.navbar-default(role='navigation')
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') Site
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/admin') Admin
        li
          a(href='/admin/posts') Posts
        li
          a(href='/admin/logs') Logs
      p.navbar-text.navbar-right
        | Signed in as &nbsp;
        a.navbar-link(href='#') Admin