footer.footer-wrapper
  .footer-container
    .row
      .col-xs-2
        a.brand(href='/', target='_blank') Company
      .col-xs-10
        ul
          li
            | ©2014 Company, Inc.
          li
            a(href='#') Информация
          li
            a(href='#') Условия
          li
            a(href='#') Поддержка
          li
            a(href='#') Блог
          li
            a(mailto='#') Контакты
          li
            | +7 (999) 876-54-32