footer.footer-wrapper
  .footer-container
    .row
      .col-xs-4
        a.brand(href='/', target='_blank') Company
        | &nbsp;
        | ©2014
      .col-xs-4
        ul(style='list-style:none;')
          li
            a(href='#') Информация
          li
            a(href='#') Условия
          li
            a(href='#') Статьи
      .col-xs-4
        ul(style='list-style:none;')
          li
            a(mailto='#') Контакты
          li
            | +7 (999) 876-54-32